@font-face {
  font-family: 'minecraft'; 
  src: url("fonte/Minecraft.ttf") format('truetype') ;
  font-weight: normal;
  font-style: normal;
}

.titulo img{
  width: 50px;
  height: 50px;
  border-radius: 12px;
  margin-right: 12px;
  cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  

    font-family: 'minecraft';
    background-image: url('https://wallpapercave.com/wp/wp10808663.png');
    background-size: 1500px;
  
    display: flex;
      justify-content: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
 
  .container {
    padding: 16px;
    background-color: white;
   
    width: 650px;
  
  }
  

  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-family: 'minecraft';
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
 
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-family: 'minecraft';
    font-size: 20px;
    box-shadow: rgba(46, 240, 46, 0.4) -5px 5px, rgba(107, 240, 46, 0.3) -10px 10px, rgba(69, 240, 46, 0.2) -15px 15px, rgba(53, 240, 46, 0.1) -20px 20px, rgba(46, 240, 62, 0.05) -25px 25px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }